<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav" 
      fixedInViewport="false"
      [ngClass]="{ hidden: !( isHandset$ | async ) }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

      <div id="sidenavlogo_wrapper">
        <a [routerLink]="['/', 'about' ]" >
          <img src="assets/falkirk-darkLogo.png" alt="logo" />
        </a>
      </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/','dashboard','profile']" *ngIf="session?.loggedIn" >{{ session?.admin? 'My Admin': 'My Profile'}}</a>
      <a mat-list-item [routerLink]="['/','adminDashboard','news']" *ngIf="session?.admin" >News</a>
      <a mat-list-item [routerLink]="['/','adminDashboard','events']" *ngIf="session?.admin" >Events</a>
      <a mat-list-item [routerLink]="['/','adminDashboard','users']" *ngIf="session?.admin" >Users</a>
      <a mat-list-item [routerLink]="['/','adminDashboard','matches']" *ngIf="session?.admin" >Matches</a>
      <a mat-list-item [routerLink]="['/','adminDashboard','teams']" *ngIf="session?.admin" >Teams</a>
      <a mat-list-item [routerLink]="['/','dashboard','news']" *ngIf="session?.loggedIn && !session?.admin" >News</a>
      <a mat-list-item [routerLink]="['/','dashboard','events']" *ngIf="session?.loggedIn && !session?.admin" >Events</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div id="logo_wrapper">
        <a [routerLink]="['/']" >
          <img src="assets/falkirk-brightLogo.png" alt="logo" />
        </a>
      </div>
      <button
          *ngIf="!isHandset && session?.loggedIn"
          mat-raised-button color="primary"
          [routerLink]="['/','dashboard','profile']" >
        {{ session?.admin? 'My Admin': 'My Profile'}}
      </button>
      <button
          *ngIf="!isHandset && session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','adminDashboard','news']" >
        News
      </button>
      <button
          *ngIf="!isHandset && session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','adminDashboard','events']" >
        Events
      </button>
      <button
          *ngIf="!isHandset && session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','adminDashboard','users']" >
        Users
      </button>
      <button
          *ngIf="!isHandset && session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','adminDashboard','matches']" >
        Matches
      </button>
      <button
          *ngIf="!isHandset && session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','adminDashboard','teams']" >
        Teams
      </button>
      <button
          *ngIf="!isHandset && session?.loggedIn && !session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','dashboard','news']" >
        News
      </button>
      <button
          *ngIf="!isHandset && session?.loggedIn && !session?.admin"
          mat-raised-button color="primary"
          [routerLink]="['/','dashboard','events']" >
        Events
      </button>
      <span class="_spacer"></span>
      <button mat-raised-button color="primary" [routerLink]="['/','login' ]" *ngIf="!session?.loggedIn" id="_login" >
        Login
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/','register' ]" *ngIf="!session?.loggedIn">
        Register
      </button>
      <button mat-raised-button color="warn" (click)="logout()" *ngIf="session?.loggedIn" id="_logout">
        Logout
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
