
<table *ngIf="table">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Club</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of table; let i = index " >
        <td>{{ i + 1 }}</td>
        <td><a mat-button colour="basic" (click)="visitTeamPage(club.teamId)" >{{ club.teamName }}</a></td>
        <td>{{ club.games }}</td>
        <td>{{ club.wins }}</td>
        <td>{{ club.draws }}</td>
        <td>{{ club.loses }}</td>
        <td>{{ club.scored }}</td>
        <td>{{ club.conceded }}</td>
        <td>{{ club.goalDiference }}</td>
        <td>{{ club.points }}</td>
      </tr>
    </tbody>
  </table>

