
<table *ngIf="table" class="table" >
    <thead>
      <tr>
        <th>Pos</th>
        <th>Club</th>
        <th class="hide-xs">Games</th>
        <th class="hide-sm">Wins</th>
        <th class="hide-sm">Draws</th>
        <th class="hide-sm">Losses</th>
        <th class="hide-md">GF</th>
        <th class="hide-md">GA</th>
        <th class="hide-md">GD</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of table; let i = index " >
        <td>{{ i + 1 }}</td>
        <td><a mat-stroked-button color="primary" (click)="visitTeamPage(club.teamId)" >{{ club.teamName }}</a></td>
        <td class="hide-xs">{{ club.games }}</td>
        <td class="hide-sm">{{ club.wins }}</td>
        <td class="hide-sm">{{ club.draws }}</td>
        <td class="hide-sm">{{ club.loses }}</td>
        <td class="hide-md">{{ club.scored }}</td>
        <td class="hide-md">{{ club.conceded }}</td>
        <td class="hide-md">{{ club.goalDiference }}</td>
        <td>{{ club.points }}</td>
      </tr>
    </tbody>
  </table>

