<form [formGroup]="mEventForm" (ngSubmit)="onSubmit()">

  <mat-radio-group formControlName="team" >
    <mat-label>Teams</mat-label>
    <mat-radio-button [value]="match?.home._id">{{ match?.home.name }}</mat-radio-button>
    <mat-radio-button [value]="match?.away._id">{{ match?.away.name }}</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Players</mat-label>
    <mat-select formControlName="player" >
      <mat-option *ngFor="let player of selectedPlayers" [value]="player._id">
        {{ player.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type Event</mat-label>
    <mat-select formControlName="typeEvent" >
      <mat-option *ngFor="let event of typeEvents" [value]="event">
        {{ event }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Minute
    </mat-label>
    <input matInput type="number" formControlName="minute" min="0" max="120" step="1" >
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!mEventForm.valid" >Create</button>
</form>

<button mat-button color="warn" (click)="onCancel()" >Cancel</button>