@media (max-width: 650px)  {
  div.container {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-card {
  margin: 15px;
}

._spacer {
    flex: 1 1 auto;
}



#_login {
    background-color: white;
    color: map-get($map: $my-primary, $key: 500);
}
#_logout {
    background-color: white;
    color: map-get($map: $my-primary, $key: 500);
}


.blinking {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}