// imports all theming components, including sass functions
@import '~@angular/material/theming';

// loads angular material core theme
@include mat-core();

// primary pallete of colours
$my-primary: (
    50 : #0f51dc,
    100 : #0e48c4,
    200 : #0c3fad,
    300 : #0a3695,
    400 : #092e7d,
    500 : #072565,
    600 : #051c4d,
    700 : #041435,
    800 : #020b1d,
    900 : #000206,
    A100 : #165bef,
    A200 : #2e6cf1,
    A400 : #467df2,
    A700 : #000000,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// accent pallete of colours
$my-accent: (
    50 : #c3a400,
    100 : #dcb900,
    200 : #f6ce00,
    300 : #ffd910,
    400 : #ffdd2a,
    500 : #ffe143,
    600 : #ffe976,
    700 : #ffed90,
    800 : #fff1a9,
    900 : #fff5c3,
    A100 : #ffe976,
    A200 : #ffe55d,
    A400 : #ffe143,
    A700 : #fff9dc,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// warn pallete of colours
$my-warn: (
    50 : #ea8889,
    100 : #e77273,
    200 : #e35d5d,
    300 : #df4748,
    400 : #db3132,
    500 : #cf2425,
    600 : #b92021,
    700 : #a41c1d,
    800 : #8e1919,
    900 : #781515,
    A100 : #ee9e9e,
    A200 : #f2b4b4,
    A400 : #f6c9ca,
    A700 : #621112,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// storing palletes in variables
$falkirkfc-webapp-primary: mat-palette($my-primary);
$falkirkfc-webapp-accent: mat-palette($my-accent, A200, A100, A400);
$falkirkfc-webapp-warn: mat-palette($my-warn);

// creating a light theme with the custom palletes
$falkirkfc-webapp-theme: mat-light-theme($falkirkfc-webapp-primary, $falkirkfc-webapp-accent, $falkirkfc-webapp-warn);

// include custom theme in the angular material theme
@include angular-material-theme($falkirkfc-webapp-theme);

// sets global styles for angular material app
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
