<div class="hero hero-lg">
    <div class="container grid-sm">

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
              <input type="text" matInput placeholder="First Name" formControlName="firstName" >
            </mat-form-field>
            <br>
          
            <mat-form-field>
              <input type="text" matInput placeholder="Last Name" formControlName="lastName" >
            </mat-form-field>
            <br>
          
            <mat-form-field>
              <input type="text" matInput placeholder="Mobile Phone" formControlName="mobilePhone" >
            </mat-form-field>
            <br>
          
            <mat-form-field>
              <input type="text" matInput placeholder="Address" formControlName="address" >
            </mat-form-field>
            <br>
          
            <mat-radio-group required formControlName="gender" >
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="male">Male</mat-radio-button>
            </mat-radio-group>
            <br>
          
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password" >
            </mat-form-field>
            <br>
          
            <mat-checkbox formControlName="admin" >Admin</mat-checkbox>
          
            <mat-form-field>
              <input type="text" matInput placeholder="Admin Secret" formControlName="secret" >
            </mat-form-field>
            <br>
          
          
            <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid" >Update</button>
        
        </form>
        
        <br>
        <button mat-button type="button" color="basic" (click)="onChangePassword()" >
          {{ changePassword ? 'cancel password change' : 'change password' }}
        </button>
        
        <button mat-button type="button" color="basic" (click)="onChangeStatus()" >
          {{ changeStatus ? 'cancel account status change' : 'change account status' }}
        </button>
                
    </div>
</div>




