
<form *ngIf="user" #profileForm="ngForm" (ngSubmit)="onSubmit">
  <mat-form-field>
    <input type="text" matInput placeholder="email" name="email" [(ngModel)]="user.email" required >
  </mat-form-field>
  <mat-form-field *ngIf="changePassword">
    <input type="password" matInput placeholder="password" name="password" >
  </mat-form-field>
  <!-- <mat-radio-group>
      <mat-label>
        Account Status
      </mat-label>
      <mat-radio-button></mat-radio-button>
  </mat-radio-group> -->

  <button mat-button color="basic" (click)="changePassword = !changePassword" >Change Password</button>
  <button mat-button color="basic" (click)="changePassword = !changePassword" >Change Account Status</button>
  <button mat-raised-button color="basic" type="onSubmit(profileForm)">Update</button>
</form>