

<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Position
    </mat-label>
    <mat-select formControlName="position">
      <mat-option *ngFor="let pos of positions" [value]="pos">
        {{ pos }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Team
    </mat-label>
    <mat-select formControlName="team" >
      <mat-option *ngFor="let team of teams" [value]="team._id" >
        {{ team.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" [disabled]="!playerForm.valid" mat-raised-button color="primary" >submit</button>
</form>
